@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

body {
  @apply lg:flex lg:place-items-center;
}

#app {
  @apply mx-auto p-8 max-w-10xl font-normal lg:grid lg:grid-cols-2 lg:px-8 lg:py-0;
}

a.router-link {
  @apply inline-block p-[3px] px-4 py-0 text-[#00BD7E] no-underline transition duration-400 hover:bg-[#00BD7E33];

  &.router-link-exact-active {
    @apply text-vue-text hover:bg-transparent;
  }
}
