@import 'tailwindcss';

@theme {
  --color-vue-background: var(--vt-c-white);
  --color-vue-background-soft: var(--vt-c-white-soft);
  --color-vue-background-mute: var(--vt-c-white-mute);

  --color-vue-border: var(--vt-c-divider-light-2);
  --color-vue-border-hover: var(--vt-c-divider-light-1);

  --color-vue-heading: var(--vt-c-text-light-1);
  --color-vue-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-vue-background: var(--vt-c-black);
    --color-vue-background-soft: var(--vt-c-black-soft);
    --color-vue-background-mute: var(--vt-c-black-mute);

    --color-vue-border: var(--vt-c-divider-dark-2);
    --color-vue-border-hover: var(--vt-c-divider-dark-1);

    --color-vue-heading: var(--vt-c-text-dark-1);
    --color-vue-text: var(--vt-c-text-dark-2);
  }
}
